@page "/Books"


<PageTitle> Books </PageTitle>


<h1>Browse the best books!</h1>


<a href="@($"BookDetails")" class="btn btn-success">Add New Book</a>
<table class="table">
    <thead>
        <tr>
            <th>
                LibNumber
            </th>

            <th>
                Title
            </th>

            <th>
                Author
            </th>

            <th>
                Publisher
            </th>

            <th>
                Published in
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in _books)
        {
            <tr>
                <td>@item.LibNumber</td>
                <td>@item.Name</td>
                <td>@item.Author</td>
                <td>@item.Publisher</td>
                <td>@item.PublishDate</td>
            </tr>
        }
    </tbody>

</table>


